# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
.eggs/

# JavaScript
node_modules/

# Venv
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Local config
.env
*.csv

# Backups
*.bak
*.bak.*
